{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('wish_ajouter') }}">Ajouter une tache</a>
    <ul>
        {% for value in tabWish %}
            <li><a href="{{ path('wish_detail', {'detail' : value.id})}}">{{ value.title}}</a>
                <span>{{ value.dateCreated | date('d/m/Y H:i:s')}}</span></li>
        {% endfor %}
    </ul>
{% endblock %}